@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Space+Mono&family=Ubuntu&display=swap');
/*
"Space Mono", monospace
"Roboto", sans-serif
"Poppins", sans-serif
"Ubuntu", sans-serif
*/

body {
    overflow-x: hidden !important;
    font-size: 32px;
}

@media only screen and (max-width: 720px) {
    body {
        font-size: 16px;
    }

    h1 {
        font-size: 1.5em;
    }
}

#root {
    width: 100%;
    

}

strong {
    color: var(--pico-primary);
    font-weight: normal;
}

:root {
    --pico-background-color: #080808 !important;
    --font-space-mono: "Space Mono", monospace;
    --font-roboto:"Roboto", sans-serif;
    --font-poppins:"Poppins", sans-serif;
    --font-ubuntu:"Ubuntu", sans-serif;
    --pico-font-family: var(--font-roboto);
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--pico-background-color);
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--pico-primary);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--pico-primary-hover);
}

#debug {
    position: absolute;
    z-index: 10;
    background-color: white;
    color: black;
    padding: 4px;
    top: 8px;
    left: 8px
}

#debug:empty {
    display: none;
}

section {
    padding-top: calc(var(--pico-spacing) * 4);
}

main {
    font-family: var(--font-ubuntu);
    width: 100%;
    max-height: 100svh;
    padding: 4rem;
}

.small-shade {
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 8rem;
	bottom: 0;
	left: 0;
	background: rgb(0, 0, 0);
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.small-shade.flipped {
    top: 0;
    height: 4rem;
    transform: scaleY(-1);
}

img[src="public/yoyo.gif"] {
    width: max(16rem, 30%);
    image-rendering: pixelated;
    float: right;
    margin-right: min(4rem, 5%);
    mix-blend-mode: lighten;
}
