
#links {
	min-height: 50vh;
    position: fixed;
    z-index: 3;
    margin-top: 10%;
}

#links h2 {
    width: 100%;
    text-align: center;
    font-family: var(--font-ubuntu);
}

#links a {
	text-decoration: none;
}

#links article {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column-reverse;
	max-width: fit-content;
	gap: 1rem;
	padding: 2rem;
    background-color: #080808bd;
}

#links div {
	display: flex; 
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#links div:first-of-type {
	padding-top: 5vh;
}

#links img {
    display: inline-block;
    height: 1.5rem;
    vertical-align:bottom;
	filter: drop-shadow(0px 8px solid black);
	object-fit: contain;
}

#links article h3 {
    opacity: 0;
    color: white !important;
}

#links article:hover h3:not(:empty) {
    opacity: 1;
	display: inline;
	filter: drop-shadow(0px 8px solid black);
	font-size: 1rem;
	margin-bottom: 0;
}

#links article h3 {
	font-size: 0;
	overflow: hidden;
	transition: 0.4s;
	margin-bottom: -1rem;
}